* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

html {
  background-color: black;
}

body {
  font: Roboto;
  width: 1080px;
  min-height: 100vh;

  display: flex;
  flex-flow: column;
  margin: auto;
}

.header,
.hero,
.info,
.testimonial,
.cto,
.footer {
  flex: 1;
}

/* header section start */

.header {
  background-color: #1f2937;
  color: #e5e7eb;
  font: 18px;
  padding: 10px 50px 10px 50px;

  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  font-weight: 900;
  font-size: 24px;
  color: #f9faf8
}

.nav {
  display: flex;
  list-style-type: none;
  font-size: 18px;
  color: #e5e7eb
}

.nav li {
  margin-left: 15px;
}

.nav li a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb
}

/* header section end */

/* hero section start */

.hero {
  background-color: #1f2937;
  width: 100%;

  display: flex;
}

.hero-text {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding: 50px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  padding: 10px 0px;
  line-height: 0.9em;
}

.hero-text p {
  font-size: 18px;
  color: #e5e7eb;
  padding: 10px 0px;
}

.signup {
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 10px;
  width: fit-content;
}

.hero img {
  max-width: 500px;
  height: auto;
  padding: 50px;a
}

/* hero section end */

/* info section start */

.info {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.info .subheader {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  padding-top: 30px;
}

.card-container {
  width: 100%;
  display: flex;
  padding: 40px 50px 50px 50px;
  gap: 1.5em;
}

.box {
  width: 100%;
  height: 150px;
  border: 2px solid#3882f6;
  border-radius: 10px;
}

.card {
  flex: 1 1 200px;
}

/* info section end */

/* testimonial section start */

.testimonial {
  background-color: #e5e7eb;
  padding: 50px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 70px;
}

.testimonial p {
  font-style: italic;
  font-weight: lighter;
  font-size: 36px;
  color: #1f2937
}

.testimonial .author {
  margin-left: auto;
  font-weight: bold;
  font-size: 18px;
}

/* testimonial section end */

/* cto section start */

.cto {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.cto-box {
  background-color: #3882f6;
  color: #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-radius: 10px;
}

.cto-box .signup {
  border: 2px solid #e5e7eb;
}

/* cto section end */

/* footer section start */

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 20px;
  text-align: center;
}

/* footer section end */